body {
    background-color:floralwhite;
    border:5px dotted sandybrown;
    color: maroon;
}
/* Si "." = une classe donc peut contenir plusieurs chose,
tandis que "#" = un ID donc une partie unique!*/
h1 {
    color:deeppink;
    background-color:wheat;
}
h2 {
    color:brown;
}

.tutu {
    color:deeppink;
}

#intro{
    background-color: lightcyan;
    color : saddlebrown;
}